$mainthema_color: rgb(67, 67, 67);
//$mainthema_color: rgb(229, 227, 221);
$secondary_color: #60707c;
//$secondary_color: #b0aa98;
$accent: #aa276b;
//$accent: rgb(119, 65, 14);
@function complement_color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #f6eef6;
  }
}
$maincolor: complement_color($mainthema_color);
