$mainthema_color: rgb(67, 67, 67);
$secondary_color: #aa276b;
@function complement_color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #f6eef6;
  }
}

$maincolor: complement_color($mainthema_color);

* {
  box-sizing: border-box;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&display=swap");

body {
  background-color: $mainthema_color;
  color: $maincolor;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.myheader {
  $header_height: calc(max(25vh, 100px));
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: $header_height;
  border-radius: 30px;
  $mainthema_color_dark: darken(
    $color: $mainthema_color,
    $amount: 24,
  );
  background-color: $mainthema_color_dark;
  .buchen {
    padding: 3vh 2vw;
    a {
      h1 {
        padding: 5% 10%;
        margin: 0;
        color: $maincolor;
        $font_min_size: calc(max(2vw, 0.6em));
        text-align: center;
        font-size: $font_min_size;
        font-family: "Playfair Display", sans-serif;
      }
      &:hover,
      &:active {
        text-shadow: 3px 2px 2px $secondary_color;
      }
    }
  }
  .mainlogo {
    padding: 0 10%;
    flex-grow: 1;
    img {
      position: absolute;
      width: 30%;
      height: $header_height;
      object-fit: cover;
      object-position: 55% 35%;
    }
    .namelogo {
      font-family: "Dancing Script", cursive;
      position: relative;
      background-color: rgba($color: $mainthema_color_dark, $alpha: 0.3);
      border-radius: 20px;
      $font_min_size: calc(max(2vw, 1.4em));
      font-size: $font_min_size;
      text-align: center;
      text-shadow: 1.4px 0 1px $secondary_color,
        2px 0 1px darken($color: $secondary_color, $amount: 30);
      left: 4%;
      width: 45%;
      bottom: -15px;
      h1 {
        margin: 0;
      }
    }
  }
}

#home {
  width: 100%;
  .gallery {
    width: 80%;
    margin: 5vh auto;
    img {
      &.photo_carusel {
        width: 100%;
        height: 90vh;
        object-fit: cover;
        object-position: center 60%;
        border-radius: 100px;
        display: none;
      }
      &.show {
        display: block;
      }
    }
    .dot_control {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      margin: 3vh 0;
      justify-content: center;
      justify-self: center;
      .dot {
        $size_dot: 75px;
        width: $size_dot;
        margin: 0.5vh 0.9vw;
        & img {
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          height: $size_dot;
        }
      }
    }
  }
}
