$mainthema_color: rgb(67, 67, 67);
$secondary_color: #aa276b;
@function complement_color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #f6eef6;
  }
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("../fonts/CooperHewitt-Light.ttf");
}
@font-face {
  font-family: "Cheque";
  src: url("../fonts/Cheque Regular 400.otf");
}
$maincolor: complement_color($mainthema_color);

* {
  box-sizing: border-box;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Ubuntu:wght@400;700&display=swap");

body {
  background-color: $mainthema_color;
  color: $maincolor;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.myheader {
  $header_height: calc(max(25vh, 100px));
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: $header_height;
  border-radius: 30px;
  $mainthema_color_dark: darken(
    $color: $mainthema_color,
    $amount: 24,
  );
  background-color: $mainthema_color_dark;
  .buchen {
    padding: 3vh 2vw;
    a {
      h1 {
        padding: 5% 10%;
        margin: 0;
        color: $maincolor;
        $font_min_size: calc(max(2vw, 0.7em));
        text-align: center;
        font-size: $font_min_size;
        font-family: "Cheque", sans-serif;
        font-weight: 100;
      }
      &:hover,
      &:active {
        text-shadow: 3px 2px 2px $secondary_color;
      }
    }
  }
  .mainlogo {
    padding: 0 10%;
    flex-grow: 1;
    position: relative;
    img {
      position: absolute;
      width: 40%;
      height: $header_height;
      object-fit: cover;
      object-position: 48% 35%;
    }
    .namelogo {
      font-family: "Dancing Script", cursive;
      background-color: rgba($color: $mainthema_color_dark, $alpha: 0.3);
      border-radius: 20px;
      position: absolute;
      $font_min_size: calc(max(1.8vw, 1.1em));
      font-size: $font_min_size;
      text-align: center;
      text-shadow: 1.4px 0 1px $secondary_color,
        2px 0 1px darken($color: $secondary_color, $amount: 30);
      left: 14.5%;
      top: 10%;
      width: 37%;
      h1 {
        margin: 0;
      }
    }
  }
  .menu {
    position: fixed;
    right: 5vw;
    top: 5vh;
    background-color: rgba($mainthema_color_dark, 0.2);
    border-radius: 20%;
    padding: 5px 10px;
    width: 60px;
    hr {
      border: 2px solid $maincolor;
      border-radius: 5px;
    }
    .popup {
      position: relative;
      .navbar {
        display: none;
        position: absolute;
        top: 10px;
        right: -15px;
        min-width: fit-content;
        width: 20vw;
        background-color: rgba(lighten($mainthema_color, 30), $alpha: 0.9);
        border-radius: 0 20px 0 20px;
        padding: 5px 20px;
        ul {
          li {
            margin: 5px 0;
            &::marker {
              content: "▶ ";
              $font_min_size: calc(max(2.4vw, 1.5em));
              font-size: $font_min_size;
            }
            a {
              display: block;
              color: $maincolor;
              $font_min_size: calc(max(2.4vw, 1.5em));
              font-size: $font_min_size;
              font-family: "Dancing Script", cursive;
              font-weight: 500;
            }
          }
        }
        &.show {
          display: block;
        }
      }
    }
  }
}

#home {
  width: 100%;
  .gallery {
    width: 80%;
    margin: 5vh auto;
    img {
      &.photo_carusel {
        width: 100%;
        height: 90vh;
        object-fit: cover;
        object-position: center 60%;
        border-radius: 20px;
        display: none;
      }
      &.show {
        display: block;
      }
    }
    .dot_control {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      margin: 3vh 0;
      justify-content: center;
      justify-self: center;
      .dot {
        $size_dot: 20px;
        width: $size_dot;
        margin: 0.5vh 0.9vw;
        & img {
          opacity: 0.5;
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          height: $size_dot;
        }
        & .current {
          opacity: 1;
        }
      }
    }
  }
  .captionUnderGallery {
    width: 80%;
    margin: 5vh auto;
    padding: 0 3vw;
    h3 {
      text-transform: uppercase;
      line-height: calc(max(2.5vw, 25px));
      $font_min_size: calc(max(1.8vw, 1.1em));
      font-size: $font_min_size;
      font-family: "Cooper Hewitt";
      font-weight: 500;
      letter-spacing: 2px;
    }
    h1 {
      text-align: center;
      color: $maincolor;
      font-family: Ubuntu;
      margin: 0;
      letter-spacing: 1px;
      $font_min_size: calc(max(4vw, 2em));
      font-size: $font_min_size;
      font-weight: 700;
    }
  }
}

.myfooter {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  $mainthema_color_light: lighten(
    $color: $mainthema_color,
    $amount: 24,
  );
  background-color: $mainthema_color_light;

  .footerLinks {
    width: 33.3%;
    padding: 3vh 3vw;
    display: flex;
    flex-flow: column wrap;
    a {
      color: $maincolor;
      font-family: Ubuntu;
      font-weight: 300;
    }
  }

  .namelogo {
    font-family: "Dancing Script", cursive;
    $font_min_size: calc(max(1.8vw, 1.1em));
    font-size: $font_min_size;
    text-align: center;
    text-shadow: 2px 0 2px $secondary_color, 1px 0 1px #fff,
      3px 0 5px darken($color: $secondary_color, $amount: 35),
      2px 0 50px rgba($color: #f8f85b, $alpha: 0.8);
    width: 33.3%;
    height: 100%;
    margin: auto 0;
    h1 {
      margin: 0;
    }
  }
  .socials {
    width: 33.3%;
    padding: 3vh 3vw 3vh 1vw;
    display: flex;
    flex-flow: column wrap;
    text-align: right;
    a {
      color: $maincolor;
      font-family: Ubuntu;
      font-weight: 300;
      padding: 1vh 0;
      .fab {
        $font_min_size: calc(max(2vw, 1.1em));
        font-size: $font_min_size;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .myheader {
    flex-flow: column;
    .buchen {
      padding: 1vh 1vw;
      a h1 {
        $font_min_size: calc(max(9vw, 1.5em));
        font-size: $font_min_size;
        padding: 0;
      }
    }
    .mainlogo {
      padding: 0 20vw;
      height: 50%;
      img {
        position: static;
        height: 91%;
        width: 100%;
        border-radius: 5px;
      }
      .namelogo {
        position: relative;
        width: 95%;
        left: 0;
        margin: auto;
        top: -70%;
        $font_min_size: calc(max(4vw, 0.5em));
        font-size: $font_min_size;
      }
    }
    .menu {
      top: 14vh;
    }
  }

  #home {
    .gallery {
      width: 100%;
      img {
        &.photo_carusel {
          height: 40vh;
        }
      }
      .dot_control {
        margin: 1vh 0;
        .dot {
          $size_dot: 15px;
          width: $size_dot;
          & img {
            height: $size_dot;
          }
        }
      }
    }
    .captionUnderGallery {
      width: 95%;
    }
  }

  .myfooter {
    flex-flow: column;
    height: 100%;
    .footerLinks {
      flex-flow: row wrap;
      width: 100%;
      a {
        margin: 0 2vw;
      }
    }
    .namelogo {
      width: 100%;
      h1 {
        position: static;
      }
    }
    .socials {
      width: 100%;
      flex-flow: row wrap;
      a {
        margin: 0 2vw;
      }
    }
  }
}
