@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Ubuntu:wght@400;700&display=swap");
@font-face {
  font-family: "Cooper Hewitt";
  src: url("../fonts/CooperHewitt-Light.ttf"); }

@font-face {
  font-family: "Cheque";
  src: url("../fonts/Cheque Regular 400.otf"); }

* {
  box-sizing: border-box;
  text-decoration: none; }

a {
  all: unset;
  cursor: pointer;
  width: fit-content; }

body {
  background-color: #434343;
  color: #f6eef6;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow-x: hidden; }

iframe {
  display: none; }

.myheader {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: calc(max(25vh, 100px));
  border-radius: 30px;
  background-color: #060606; }
  .myheader .buchen {
    padding: 3vh 2vw;
    width: 25%; }
    .myheader .buchen a h1 {
      padding: 5% 10%;
      margin: 0;
      color: #f6eef6;
      text-align: center;
      font-size: calc(max(2vw, 1em));
      font-family: "Cheque", sans-serif;
      font-weight: 100; }
    .myheader .buchen a:hover, .myheader .buchen a:active {
      text-shadow: 3px 2px 2px #aa276b; }
  .myheader .mainlogo {
    padding: 0 10%;
    flex-grow: 1;
    position: relative; }
    .myheader .mainlogo img {
      position: absolute;
      width: 40%;
      height: calc(max(25vh, 100px));
      object-fit: cover;
      object-position: 48% 35%; }
    .myheader .mainlogo .namelogo {
      font-family: "Dancing Script", cursive;
      background-color: rgba(6, 6, 6, 0.3);
      border-radius: 20px;
      position: absolute;
      font-size: calc(max(1.8vw, 1.1em));
      text-align: center;
      text-shadow: 1.4px 0 1px #aa276b, 2px 0 1px #2e0a1d;
      left: 14.5%;
      top: 10%;
      width: 37%; }
      .myheader .mainlogo .namelogo h1 {
        margin: 0;
        color: #fff; }
  .myheader .menu {
    position: fixed;
    right: 5vw;
    top: 5vh;
    background-color: rgba(6, 6, 6, 0.8);
    border-radius: 20%;
    padding: 5px 10px;
    width: 60px; }
    .myheader .menu .lines {
      cursor: pointer; }
      .myheader .menu .lines hr {
        border: 2px solid #f6eef6;
        border-radius: 5px; }
    .myheader .menu .popup {
      position: relative; }
      .myheader .menu .popup .navbar {
        display: none;
        position: absolute;
        top: 10px;
        right: -15px;
        min-width: fit-content;
        width: 20vw;
        background-color: #2a2a2a;
        border-radius: 0 20px 0 20px;
        padding: 5px 20px; }
        .myheader .menu .popup .navbar ul {
          padding-left: calc(max(2.8vw, 20px)); }
          .myheader .menu .popup .navbar ul a {
            margin: 5px 0;
            display: block;
            color: #f6eef6;
            font-size: calc(max(2.4vw, 1.5em));
            font-family: "Dancing Script", cursive;
            font-weight: 500; }
            .myheader .menu .popup .navbar ul a li::marker {
              content: "▶ "; }
        .myheader .menu .popup .navbar.show {
          display: block; }

.myfooter {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: fit-content;
  border-radius: 30px;
  background-color: gray; }
  .myfooter .footerLinks {
    width: 33.3%;
    padding: 3vh 3vw;
    display: flex;
    flex-flow: column wrap; }
    .myfooter .footerLinks a {
      color: #f6eef6;
      font-family: Ubuntu;
      font-weight: 300;
      font-size: calc(max(1.6vw, 1em)); }
  .myfooter .namelogo {
    font-family: "Dancing Script", cursive;
    font-size: calc(max(1.8vw, 1.1em));
    text-align: center;
    text-shadow: 2px 0 2px #aa276b, 1px 0 1px #000, 3px 0 5px #190610, 2px 0 50px #60707c;
    width: 33.3%;
    height: 100%;
    margin: auto 0; }
    .myfooter .namelogo h1 {
      margin: 0; }
  .myfooter .socials {
    width: 33.3%;
    padding: 3vh 3vw 3vh 1vw;
    display: flex;
    flex-flow: column wrap;
    text-align: right; }
    .myfooter .socials div {
      color: #f6eef6;
      font-family: Ubuntu;
      font-weight: 300;
      font-size: calc(max(1.6vw, 1em));
      padding: 1vh 0; }
      .myfooter .socials div .fab {
        font-size: calc(max(2vw, 1.1em)); }

@media only screen and (max-width: 433px) {
  .myheader {
    flex-flow: column; }
    .myheader .buchen {
      padding: 1vh 1vw;
      width: auto; }
      .myheader .buchen a h1 {
        font-size: calc(max(9vw, 1.5em));
        padding: 0; }
    .myheader .mainlogo {
      padding: 0 20vw;
      height: 50%; }
      .myheader .mainlogo img {
        position: static;
        height: 91%;
        width: 100%;
        border-radius: 5px; }
      .myheader .mainlogo .namelogo {
        position: relative;
        width: 95%;
        left: 0;
        margin: auto;
        top: -70%;
        font-size: calc(max(4vw, 0.5em)); }
    .myheader .menu {
      top: 14vh; }
  .myfooter {
    flex-flow: column;
    height: 100%; }
    .myfooter .footerLinks {
      flex-flow: row wrap;
      width: 100%; }
      .myfooter .footerLinks a {
        margin: 0 2vw; }
    .myfooter .namelogo {
      width: 100%; }
      .myfooter .namelogo h1 {
        position: static; }
    .myfooter .socials {
      width: 100%;
      flex-flow: row wrap; }
      .myfooter .socials a {
        margin: 0 2vw; } }
